.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    margin: 32px auto 0;
    text-decoration: none;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}
