.footer__links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 375px) {
    .footer__links {
        display: block;
    }
}
